<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">


   <script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?libraries=places'></script>
   <script type='text/javascript' src='https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js'></script>
   <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment-with-locales.js'></script>


  </head>
<!-- modal for login -->
<div class="modal fade" id="myModal_login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div id="modal-login" class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3>Accede con tu email o <a href="/users/sign_up">Registrate</a></h3>
                  <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <a href="#" class="btn btn-lg btn-primary btn-block full-width">Facebook</a>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <a href="#" class="btn btn-lg btn-info btn-block full-width">Google</a>
                    </div>
                  </div>
                  <div class="login-or">
                      <hr class="hr-or">
                      <span class="span-or">o</span>
                  </div>
                <%= render "devise/shared/login" %>
                <%=link_to 'Olvidaste tu contraseña?', '#recovery_pass', id: :link_recovery_pass, 'data-toggle' => "modal"%>
            </div>
        </div>
      </div>
  </div>
  <!-- modal for club -->
  <div class="modal fade" id="modal_club" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
          <div class="modal-content modal-club">
            <div class="row">
              <div id="modal-title" class="col-md-12 modal-title center-box">
                <!-- nombre del club -->
              </div>
                <div class="row">
                  <div id="modal-center" class="col-xs-12 col-sm-12 col-md-12">
                    <!--info del club -->
                  </div>
                </div>
                <div class="row">
                  <div id="modal-footer" class="col-xs-12 col-sm-12 col-md-12">
                    <!-- fotos -->
                  </div>
                </div>
          </div>
          </div>
        </div>
    </div>
<!-- modal for recovery_pass -->
<div class="modal fade" id="recovery_pass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h3>Recuperar contraseña</h3>
              <%= render "devise/shared/recoverypass" %>
            </div>
        </div>
    </div>
</div>
<!-- devise_login -->
  </header>
  <body>
    <div id="main">
      <%= yield %>
    </div>
  </body>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
       <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>


</html>
