<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?libraries=places'></script>

    <meta charset="UTF-8">
    <title>SideNavi jQuery Plugin Demo</title>
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//code.jquery.com">
    <link href="src/css/googleRobotFont.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="dest/scss/sideNavi.css">
    <link rel="stylesheet" href="dest/scss/app.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.fullpage/2.8.9/jquery.fullpage.min.css">
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.0/TweenMax.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.fullpage/2.8.9/jquery.fullpage.min.js"></script>
    <script src="src/js/SideNav.js"></script>

  </head>
  <!-- top_menu -->
    <!-- <header class="header">
      <div class="row">
        <div id="top-menu" class="col-md-12 ">
          <nav class="navbar navbar-default navbar-fixed-top">
             <div class="container-fluid">
                  <div class="navbar-header">
                 <a class="navbar-brand" href="/">IH Project</a>
               </div>
               <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                 <ul class="nav navbar-nav navbar-right">
                   <li><%=link_to 'Acceder', '#myModal_login', id: :login, 'data-toggle' => "modal" if !current_user%></li>
                   <li><%=link_to 'Registrarse', href='/users/sign_up', id: :login, 'data-toggle' => "modal" if !current_user%></li>
                   <li><%=link_to current_user.email if current_user%></li>
                   <li><%=link_to 'Editar perfil', edit_user_registration_path  if current_user%></li>
                   <li><%=link_to 'Cerrar sesión', destroy_user_session_path, method: 'DELETE' if current_user%></li>
                   <li><a href="#">Quienes somos</a></li>
                   <li><a href="#">Condiciones</a></li>
                  </ul>
               </div>
             </div>
            </nav>
        </div>
      </div> -->
<!-- modal for login -->
<div class="modal fade" id="myModal_login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div id="modal-login" class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3>Accede con tu email o <a href="/users/sign_up">Registrate</a></h3>
                  <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <a href="#" class="btn btn-lg btn-primary btn-block full-width">Facebook</a>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <a href="#" class="btn btn-lg btn-info btn-block full-width">Google</a>
                    </div>
                  </div>
                  <div class="login-or">
                      <hr class="hr-or">
                      <span class="span-or">o</span>
                  </div>
                <%= render "devise/shared/login" %>
                <%=link_to 'Olvidaste tu contraseña?', '#recovery_pass', id: :link_recovery_pass, 'data-toggle' => "modal"%>
            </div>
        </div>
      </div>
  </div>
  <!-- modal for club -->
  <div class="modal fade" id="modal_club" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
          <div class="modal-content modal-club">
            <div class="row">
              <div id="modal-title" class="col-md-12 modal-title center-box">
                <!-- nombre del club -->
              </div>
                <div class="row">
                  <div id="modal-center" class="col-xs-12 col-sm-12 col-md-12">
                    <!--info del club -->
                  </div>
                </div>
                <div class="row">
                  <div id="modal-footer" class="col-xs-12 col-sm-12 col-md-12">
                    <!-- fotos -->
                  </div>
                </div>
          </div>
          </div>
        </div>
    </div>
<!-- modal for recovery_pass -->
<div class="modal fade" id="recovery_pass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h3>Recuperar contraseña</h3>
              <%= render "devise/shared/recoverypass" %>
            </div>
        </div>
    </div>
</div>
<!-- devise_login -->
  </header>
  <body>
    <div id="main">
      <%= yield %>
    </div>
  </body>
</html>
