<h1><span class="color-strong">Log In</span></h1>
<%= link_to "Darme de alta", "#RegisterModal", "data-toggle" => "modal" %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="field margin-top-min">
    <%= f.label :email, 'Email:' %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control full-width' %>
  </div>

  <div class="field margin-top-min">
    <%= f.label :password, 'Password:' %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control full-width' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field margin-top-min">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, "Recuérdame" %>
    </div>
  <% end -%>

  <div class="actions btn_sign btn-padding">
    <%= f.submit "Acceder", class: "btn btn btn-default button-standard" %>
  </div>


  <br>

<% end %>
