<div id="map-container">
  <div id="map-canvas">
  </div>
  <!-- zzzzzz -->
<!-- modal login inicio-->
<div class="modal fade" id="LogInModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div id="modal-login" class="modal-dialog" role="document">
        <div class="modal-content color">
          <div class="modal-body">
            <%= render "devise/shared/login" %>
          </div>
        </div>
      </div>
  </div>
<!-- modal login final-->
<!-- modal register inicio-->
<div class="modal fade" id="RegisterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div id="modal-login" class="modal-dialog" role="document">
        <div class="modal-content color">
          <div class="modal-body">
            <%= render "devise/shared/newUser" %>
          </div>
        </div>
      </div>
  </div>
<!-- modal register final-->
<!-- modal register inicio-->
<div class="modal fade" id="NewClubModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div id="modal-new-club" class="modal-dialog" role="document">
        <div class="modal-content color">
          <div class="modal-body">
            <%= render "clubs/shared/newClub" %>
          </div>
        </div>
      </div>
  </div>

<!-- modal register final-->
    <div id="menu">
    <nav class="menu">
      <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open"/>
      <label class="menu-open-button principal" for="menu-open">
        <span class="hamburger hamburger-1"></span>
        <span class="hamburger hamburger-2"></span>
        <span class="hamburger hamburger-3"></span>
        <span class="hamburger hamburger-4"></span>

      </label>

      <div class="menu-item" href="#LogInModal" >
          <a id="acceder" href="#LogInModal" data-toggle="modal" class="menu-item item-child flex hidden hide-element">
            <span class="full-width">Acceder</span>
          </a>
          <a href="#LogInModal" data-toggle="modal" class="full-width fa fa-sign-in hide-element"></a>
      </div>
        <div class="menu-item" href="#" >
          <a id="acceder" href="#RegisterModal" data-toggle="modal" class="menu-item item-child flex hidden hide-element">
            <span class="full-width">Registrarse</span>
          </a>
            <a href="#RegisterModal" data-toggle="modal" class="full-width fa fa-file-text hide-element"></a>
        </div>
      <div class="menu-item" href="#" >
        <a id="acceder" href="#NewClubModal" data-toggle="modal" class="menu-item item-child flex hidden hide-element">
          <span class="full-width">Nuevo Club</span>
        </a>
          <a href="#NewClubModal" data-toggle="modal" class="full-width fa fa-plus hide-element"></a>
      </div>
      <div class="menu-item" href="#" >
        <a  href="/users/sign_out" class="menu-item item-child flex label-menu-user hidden hide-element" >
          <span class="full-width hide-element">Cerrar sesión</span>
        </a>
        <a href="/users/sign_out" class="full-width fa fa-times-circle hide-element"></a>
      </div>
    </nav>
  </div>
  <!-- menu left inicio-->
  <div id="left-bar" class="container">
  	<div class="row">
          <ul>
            <li class="elemento1 hour-size">
              <div id="hour">
                <div class="elemento1 label-menu"><label>Dia:</label></div>
                <div class="elemento2">
                  <a id="minus" href="#" class="label-label padding-l-r "><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
                  <label id="day" value="#{<%= DateTime.now.strftime("%d").to_i %>}" class="label-label padding-l-r"><%= DateTime.now.strftime("%d").to_i %></label>
                  <a id="plus" href="#" class="label-label padding-l-r "><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                </div>
                </div>
            </li>
            <li class="elemento1">
              <div id="date">
                <div class="elemento1 label-menu"><label>Donde:</label></div>
                <div class="elemento2">
                  <input type="text" class="form-control where" id="where"></input>
                </div>
                </div>
            </li>
            <li class="elemento1">
              <div id="date">
                <div class="elemento1 label-menu"><label>Hora:</label></div>
                <div class="elemento2">
                  <div class="price-slider">
                      <div class="col-sm-12">
                        <div id="slider"></div>
                      </div>
                    </div>
                        <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
                </div>
                </div>
            </li>
            <li class="elemento1">
              <div id="sport">
                <form id="radioInput">

                <div class="elemento1 label-menu"><label>Deporte:</label></div>

                <div class="elemento2">
                    <input type="radio" name="myRadio" value="todos" class="sport-radio radio" checked>
                    <label class="sport-label ">Todos</label></input>
                    <input type="radio" name="myRadio" value="futbol" class="sport-radio radio ">
                    <label class="sport-label ">Futbol</label></input>
                    <input type="radio" name="myRadio" value="basket" class="sport-radio radio ">
                    <label class="sport-label ">Basket</label></input>
                    <input type="radio" name="myRadio" value="golf" class="sport-radio radio ">
                    <label class="sport-label ">Golf</label></input>
                    <input type="radio" name="myRadio" value="padel" class="sport-radio radio ">
                    <label class="sport-label ">Padel</label></input>
                </div>

              </div>
            </form>

            </li>
          </ul>
  	  </div>
  </div>
  <!-- menu left final-->

</div>
